<!DOCTYPE html>
<html>

<head>
	<title>Consul Services</title>
	<meta http-equiv="refresh" content="5">
</head>

<body>
	<h2>Services Registered to Consul </h2>
	<h4>The code will reload after 5s.</h4>
	<table>
  	<tr>

    	<th>Node Name</th>
    	<th>Service Name</th>
    	<th>Ip Address</th>
    	<th>Port</th>
  	</tr>
	
  	<tr>
  	<td>server </td>
  	<td>consul </td>
  	<td>127.0.0.1</td>
  	<td>8300</td>
	</tr>
	
  	<tr>
  	<td>server </td>
  	<td>consul-8600 </td>
  	<td>172.22.0.2</td>
  	<td>8600</td>
  	<tr>
  	<td>server </td>
  	<td>consul-8600 </td>
  	<td>172.22.0.2</td>
  	<td>8600</td>
	</tr>
	
  	<tr>
  	<td>server </td>
  	<td>consul-service-on-server </td>
  	<td>172.22.0.2</td>
  	<td>8500</td>
	</tr>
	
  	<tr>
  	<td>server </td>
  	<td>counting-service </td>
  	<td>172.22.0.3</td>
  	<td>9001</td>
	</tr>
	</table>
</body>

</html>
